.modal-title {
    color: #880000;
    font-family: Impact, Charcoal, sans-serif;
}
body{
	background-color: white;
}

.modal-image {
    height: 100%;
    width: auto;
}
.image-div {
    height: 200px;
    width: 300px;
}
.modal-vitamins {
    color: #880000;
    font-weight: bold;
}
.black{
	color:black;
}
#bodypic {
            background-image: url(../images/body.jpg);
            height: 660px;
            width: 500px;
            margin-left: 20px;
            margin-right: 20px;
            display:inline-block;
        }

        #information{
          display:inline-block;
          max-width: 80%;
          margin-top: 180px;
          margin-left: 600px;
          width: 600px;
          
        }

        #information h3, p{
          display: inline;
          margin-left: 10px;
        }

        #brain {
            margin-left: 140px;
            position: absolute;
            margin-top: 45px;

        }


        #heart {
            position: absolute;
            margin-left: 140px;
            margin-top: 300px;
        }

        #lkidney {
            position: absolute;
            margin-left: 155px;
            margin-top: 580px;
        }

        #rkidney {
            position: absolute;
            margin-left: 290px;
            margin-top: 580px;
        }

        #llungsvg {
            margin-top: 310px;
            margin-left: 150px;
            position: absolute;
            height: 180px;
            width: 80px;
            opacity: 0;
        }

        #rlungsvg {
            margin-top: 310px;
            margin-left: 280px;
            position: absolute;
            height: 180px;
            width: 80px;
            opacity: 0;
        }

        #heartsvg {
            margin-top: 350px;
            margin-left: 220px;
            position: absolute;
            height: 100px;
            width: 80px;
            opacity: 0;
        }

        #stomachpic {
            position: absolute;
            margin-left: 160px;
            margin-top: 475px;

        }

        #liversvg {
            margin-top: 477px;
            margin-left: 165px;
            position: absolute;
            height: 60px;
            width: 100px;
            opacity: 0;
        }


        #liversvg2 {
            margin-top: 515px;
            margin-left: 165px;
            position: absolute;
            height: 60px;
            width: 50px;
            opacity: 0;
        }

        #stomachsvg {
            margin-top: 500px;
            margin-left: 265px;
            position: absolute;
            height: 100px;
            width: 160px;
            opacity: 0;
        }
        #stomachsvg2 {
            margin-top: 540px;
            margin-left: 235px;
            position: absolute;
            height: 40px;
            width: 30px;
            opacity: 0;
        }
