.section {

  margin-bottom: 30px;
}

.list {
  border: 1px solid #000;
  /*border-radius: 15px;*/
  list-style: none outside none;
  margin: 10px;
  padding: 10px;
}
#plantitle {
  margin-right: 50px;
}
#plan-logout-link {
    padding: 6px 3px;
    font-size: 1.1em;
    color: white;
    background-color: #990000;
    border-radius: 3px;
    font-weight: bold;
    width: 150px;
    border: none;
}
#plan-navbar {
  margin-top: 3%;
}
#go-back-link {
  padding: 8px 13px 8px 13px;
  font-size: 1.1em;
  color: white;
  background-color: #990000;
  border-radius: 3px;
  font-weight: bold;
  width: 150px;
  border: none;
}
.iteml {
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ddd;

  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  /*font-weight: bold;*/
  text-align: center;
  cursor: move;
}
.todo-info-btn {
  display: block;
}
.goals {
  vertical-align: top;
  display: inline-block;
  margin-right: 20px;
}

.planlabel {
  font-size: 1.4em;
}
li.list-todos {
  text-align: center;
}
#save-btn {
  padding: 8px 13px 8px 13px;
  border-radius: 3px;
  border: none;
  color: white;
  font-size: 1.4em;
  background-color: #4DB8DB;
}
#global {
  margin-bottom: 50px;
}
#noplan {
  text-align: center;
}

.itemr {
  padding: 5px 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;

  /*color: white;*/
  font-size: 1.1em;
  /*font-weight: bold;*/
  text-align: center;
  cursor: move;
}

.thenav{
    margin-top: 20px;
    margin-bottom: 10px;
}

.navbar{
  height: 100px;
    background-color: black;
    color: white;
}
#submit{
    margin-left: 7px;
    background-color: grey;
}


/***  Extra ***/

.logList {
  min-height: 200px;
  border: 5px solid #000;
  border-radius: 15px;
}
