<div ng-controller='globalDashboardController' class="container">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/userDashboard/{{currentUser._id}}"><img class='logo' src='../images/logo.jpg'</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/userDashboard/{{currentUser._id}}">Userdashboard</a></li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="col-sm-12">
    <h1>The Global Dashboard</h1>
  

  <table class='table table-hover'>
    <div class="col-sm-2">
      <input class="form-control" type="text" placeholder="Search a plan..." ng-model='filter_name'>
    </div>
    
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Start Date</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="plan in plans | filter: filter_name">
        <td><span ng-bind="plan.title"></span></td>
        <td><span ng-bind="plan.description"></span></td>
        <td><span ng-bind="plan.created_at | date:'mediumDate'"></span></td>
        <td><span ng-bind="plan._user.name"></span></td>
      </tr>
    </tbody>
  </table>
  <div id="global"></div>
  
  </div>
  
</div>

