<div ng-controller='globalDashboardController'>

  <a href="/">Home</a>
  <a href="/logout">Logout</a>

  <h1>The Global Dashboard</h1>


  <p>
  <input type="text" ng-model='filter_name'>
  </p>

  <table>
    <thead>
      <tr>
        <td>Goals</td>
        <td>Title</td>
        <td>Description</td>
        <td>Start Date</td>
        <td>End Date</td>
        <td>Username</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Temp information - Goals</td>
        <td>Temp information - Title</td>
        <td>Temp information - Description</td>
        <td>Temp information - Start Date</td>
        <td>Temp information - End Date</td>
        <td>Temp information - Username</td>
      </tr>
    </tbody>
  </table>
  
</div>

