<div class="container">
    <h2>Body Parts</h2>
  <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#brainModal">Brain</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#heartModal">Heart</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#lungModal">Lung</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#kidneyModal">Kidney</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#stomachModal">Stomach</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#liverModal">Liver</button>

  <!-- Modal -->
    <div class="modal fade" id="brainModal" role="dialog">
        <div class="modal-dialog">

      <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="heartModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BLAH BLAH HEART</h4>
                </div>
                <div class="modal-body">
                    <p>heart is blah blah blah</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="kidneyModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BLAH BLAH HEART</h4>
                </div>
                <div class="modal-body">
                    <p>heart is blah blah blah</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="stomachModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BLAH BLAH HEART</h4>
                </div>
                <div class="modal-body">
                    <p>heart is blah blah blah</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="lungModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BLAH BLAH HEART</h4>
                </div>
                <div class="modal-body">
                    <p>heart is blah blah blah</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="liverModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">BLAH BLAH LIVER</h4>
                </div>
                <div class="modal-body">
                    <p>liver is blah blah blah</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


