<div ng-controller='loginController' class="container">


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="white navbar-brand" href="#"><img class='logo' src='../images/logo.jpg'></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right thenav">
                <li><button id="loginreg" data-toggle="modal" data-target="#login-modal">Login/Register</button></li>
              </ul>
    </div><!-- /.navbar-collapse -->
    <a class='col-sm-offset-10' href='#/register'>Not a user? Register here!</a>
  </div><!-- /.container-fluid -->
</nav>
    <!-- <a href="/#plan">Plans</a> -->
  <!-- Trigger the modal with a button -->
  
	<p ng-repeat='error in errors'>{{error}}</p>
  <div id="bodypic">
	<div ng-init="imgbrain='../images/brain.png'" ng-mouseover="imgbrain='../images/brain2.png'" ng-mouseout="imgbrain='../images/brain.png'">
		<img data-toggle="modal" data-target="#brainModal" id="brain" ng-src="{{imgbrain}}" height="120px" width="170px" x="60">
	</div>
	<div ng-init="imghnl='../images/hnl.jpg'">
		<img id="heart" src="{{imghnl}}">
	</div >
	<div ng-init="imgsto='../images/stomach.jpg'">
		<img id="stomachpic" src="{{imgsto}}">
	</div>
	<div ng-init="imglkid='../images/lkidney.jpg'"  ng-mouseover="imglkid='../images/lkidney2.jpg'" ng-mouseout="imglkid='../images/lkidney.jpg'">
		<img data-toggle="modal" data-target="#kidneyModal" id="lkidney" src="{{imglkid}}">
	</div>
	<div ng-init="imgrkid='../images/rkidney.jpg'"  ng-mouseover="imgrkid='../images/rkidney2.jpg'" ng-mouseout="imgrkid='../images/rkidney.jpg'">
		<img data-toggle="modal" data-target="#kidneyModal" id="rkidney" src="{{imgrkid}}">
	</div>
        <!-- <img id="lungs" src="lung.png" > -->
        <svg id="llungsvg" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect ng-mouseover="imghnl='../images/hnl2.jpg'" ng-mouseout="imghnl='../images/hnl.jpg'" data-toggle="modal" data-target="#lungModal" id="llung" height="160" width="70"
                style="stroke:#000000; fill: #FFFFFF"/>
        </svg>
        <svg ng-mouseover="imghnl='../images/hnl2.jpg'" ng-mouseout="imghnl='../images/hnl.jpg'" id="rlungsvg" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect data-toggle="modal" data-target="#lungModal" id="rlung" height="160" width="70"
                style="stroke:#000000; fill: #FFFFFF"/>
        </svg>
        <svg ng-mouseover="imghnl='../images/hnl3.jpg'" ng-mouseout="imghnl='../images/hnl.jpg'" id="heartsvg" xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink">
            <rect data-toggle="modal" data-target="#heartModal" id="heartrect" height="110" width="60"
                style="stroke:#000000; fill: #FFFFFF"/>
        </svg>
        <svg   id="liversvg" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

          <rect ng-mouseover="imgsto='../images/stomach2.jpg'" ng-mouseout="imgsto='../images/stomach.jpg'" data-toggle="modal" data-target="#liverModal" id="liver" height="60" width="100"
                 style="stroke:#000000; fill:#FFFFFF;"/>

        </svg>
        <svg  ng-mouseover="imgsto='../images/stomach2.jpg'" ng-mouseout="imgsto='../images/stomach.jpg'" id="liversvg2" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

          <rect  data-toggle="modal" data-target="#liverModal" id="liver2" height="60" width="50"
                 style="stroke:#000000; fill:#FFFFFF;"/>

        </svg>
        <svg   id="stomachsvg" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

          <rect  ng-mouseover="imgsto='../images/stomach3.jpg'" ng-mouseout="imgsto='../images/stomach.jpg'" data-toggle="modal" data-target="#stomachModal" id="stomach" height="80" width="50"
                 style="stroke:#000000; fill:#FFFFFF;"/>

        </svg>
        <svg data-toggle="modal" data-target="#stomachModal" id="stomachsvg2" xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">

          <rect id="stomach2" height="40" width="30"
                 style="stroke:#000000; fill:#FFFFFF;"/>

        </svg>
    </div>
<script type="text/javascript">


</script>
<p ng-repeat='error in errors'>{{error}}</p>

    <div class="modal fade" id="brainModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Your Brain </h2>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">A Healthy Brain: </h4>
                    <p class="modal-vitamins">Vitamin B12, Vitamin E,  and Omega-3 fatty acids.</p>
                    <div class="image-div"><img class="modal-image" src="../images/blueberries.png"></div>
                    <p><span><b>Blueberries: </b></span> Research has found that blueberries help protect the brain from oxidative stress and may reduce the effects of age-related conditions such as Alzheimer's disease or dementia. Studies have also shown that diets rich in blueberries significantly improved both learning capacity and motor skills.</p>
                    <div class="image-div"><img class="modal-image" src="../images/salmon.jpg"></div>
                    <p><span><b>Wild Salmon: </b></span> Deep-water fish, such as salmon, are rich in omega-3 essential fatty acids, which are essential for brain function. Omega-3s also contain anti-inflammatory substances. Other oily fish that provide the benefits of omega-3s are sardines and herring. Recommended 4-ounce serving, two to three times a week.</p>
                    <div class="image-div"><img class="modal-image" src="../images/nuts.jpg"></div>
                    <p><span><b>Nuts and Seeds: </b></span> Nuts and seeds are good sources of vitamin E. Higher levels of vitamin E correspond with less cognitive decline as you get older. Add an ounce a day of walnuts, hazelnuts, Brazil nuts, filberts, almonds, cashews, peanuts, sunflower seeds, sesame seeds, flax seed, and unhydrogenated nut butters such as peanut butter, almond butter, and tahini. Raw or roasted doesn't matter, although if you're on a sodium-restricted diet, eat unsalted nuts.</p>
                    <div class="image-div"><img class="modal-image" src="../images/avocado.jpg"></div>
                    <p><span><b>Avocados: </b></span> Avocados are almost as good as blueberries in promoting brainhealth. They contribute to healthy blood flow which promotes a healthy brain. Avocados also lower blood pressure. A lower blood pressure should promote brain health. Avocados are high in calories, however, so add just 1/4 to 1/2 of an avocado to one daily meal as a side dish.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="heartModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Your Heart</h4>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">A Healthy Heart: </h4>
                    <p class="modal-vitamins">Omega-3 fatty acids, Vitamin D, Magnesium</p>
                    <div class="image-div"><img class="modal-image" src="../images/spinach.jpg"></div>
                    <p><span><b>Spinach: </b></span> Hands down, spinach is the powerhouse of the vegetable kingdom. Its rich, dark color comes from the multiple phytochemicals, vitamins, and minerals (especially folate and iron) that also fight disease, protect against heart disease, and preserve your eyesight.</p>
                    <div class="image-div"><img class="modal-image" src="../images/oatmeal.jpg"></div>
                    <p><span><b>Oatmeal: </b></span>Oats are nourishing whole grains and a great source of vitamins, minerals, and cholesterol-lowering fiber. The FDA allows manufacturers of oats to make health claims about the grain on their products, suggesting that a diet high in oats can reduce the risk for heart disease. Research shows oats lower cholesterol levels, keep you regular, and may help prevent certain cancers.</p>
                    <div class="image-div"><img class="modal-image" src="../images/soy.jpg"></div>
                    <p><span><b>Soy Protein: </b></span>This inexpensive, high-quality protein contains fiber, vitamins, and minerals -- all the ingredients for a heart-healthy meal. Also, a diet rich in soy protein can lower triglycerides, which help prevent cardiovascular disease and keep your heart strong and healthy. In those with high cholesterol levels, the benefits of soy foods are due to their high levels of polyunsaturated fats, fiber, vitamins, and minerals.</p>
                    <div class="image-div"><img class="modal-image" src="../images/blueberries.png"></div>
                    <p><span><b>Blueberries: </b></span> Research has found that blueberries help protect the brain from oxidative stress and may reduce the effects of age-related conditions such as Alzheimer's disease or dementia. Studies have also shown that diets rich in blueberries significantly improved both learning capacity and motor skills.</p>
                    <div class="image-div"><img class="modal-image" src="../images/salmon.jpg"></div>
                    <p><span><b>Wild Salmon: </b></span> Deep-water fish, such as salmon, are rich in omega-3 essential fatty acids, which are essential for brain function. Omega-3s also contain anti-inflammatory substances. Other oily fish that provide the benefits of omega-3s are sardines and herring. Recommended 4-ounce serving, two to three times a week.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="kidneyModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Your Kidneys</h2>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">Healthy Kidneys: </h4>
                    <p class="modal-vitamins">Vitamin D, Vitamin C, Vitamin B-6, Calcium, Potassium</p>
                    <div class="image-div"><img class="modal-image" src="../images/cabbage.png"></div>
                    <p><span><b>Cabbage: </b></span> A cruciferous vegetable, cabbage is packed full of phytochemicals, chemical compounds in fruit or vegetables that break up free radicals before they can do damage. Many phytochemicals are also known to protect against and fight cancer, as well as foster cardiovascular health. High in vitamin K, vitamin C and fiber, cabbage is also a good source of vitamin B6 and folic acid. Low in potassium and low in cost, it’s an affordable addition to the kidney diets.</p>
                    <div class="image-div"><img class="modal-image" src="../images/pepper.jpg"></div>
                    <p><span><b>Red Bell Pepper: </b></span>Red bell peppers are high in flavor, but that’s not the only reason they’re perfect for the kidney diet. These tasty vegetables are also an excellent source of vitamin C and vitamin A, as well as vitamin B6, folic acid and fiber. Red bell peppers are good for you because they contain lycopene, an antioxidant that protects against certain cancers.</p>
                    <div class="image-div"><img class="modal-image" src="../images/oliveoil.jpg"></div>
                    <p><span><b>Olive Oil: </b></span> Olive oil is a great source of oleic acid, an anti-inflammatory fatty acid. The monounsaturated fat in olive oil protects against oxidation. Olive oil is rich in polyphenols and antioxidant compounds that prevent inflammation and oxidation. Studies show that populations that use large amounts of olive oil instead of other oils have lower rates of heart disease and cancer.</p>
                    <div class="image-div"><img class="modal-image" src="../images/eggwhites.jpg"></div>
                    <p><span><b>Egg Whites: </b></span> Egg whites are pure protein and provide the highest quality of protein with all the essential amino acids. For the kidney diet, egg whites provide protein with less phosphorus than other protein sources such as egg yolk or meats.</p>
                    <div class="image-div"><img class="modal-image" src="../images/apple.jpg"></div>
                    <p><span><b>Apples: </b></span> Apples have been known to reduce cholesterol, prevent constipation, protect against heart disease and reduce the risk of cancer. High in fiber and anti-inflammatory compounds, an apple a day may really keep the doctor away. Good news for people with kidney disease who already have their share of doctor visits.</p>
                    <div class="image-div"><img class="modal-image" src="../images/cranberries.jpg"></div>
                    <p><span><b>Cranberries: </b></span> These tangy, tasty berries are known to protect against bladder infections by preventing bacteria from sticking to the bladder wall. In a similar way, cranberries also protect the stomach from ulcer-causing bacteria and protect the lining of the gastrointestinal (GI) tract, promoting GI health. Cranberries have also been shown to protect against cancer and heart disease.</p>
                    <div class="image-div"><img class="modal-image" src="../images/cherries.jpg"></div>
                    <p><span><b>Cherries: </b></span> Cherries have been shown to reduce inflammation when eaten daily. They are also packed with antioxidants and phytochemicals that protect the heart.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="stomachModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Your Stomach</h2>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">Healthy Stomach: </h4>
                    <p class="modal-vitamins">Vitamin B1, B3, B6, B12, Vitamin D, Vitamin A</p>
                    <div class="image-div"><img class="modal-image" src="../images/kale.jpg"></div>
                    <p><span><b>Kale: </b></span> One of the best superfoods in existence. Another reason why we love kale is for its fiber content. Its rich source of fiber boosts digestion and promotes the elimination of toxins in the digestive tract. </p>
                    <div class="image-div"><img class="modal-image" src="../images/chia.jpg"></div>
                    <p><span><b>Chia Seeds: </b></span>An amazing source of fiber, protein and minerals, chia seeds are perfect for decreasing cholesterol, boosting bowel function and reducing inflammation in the body. You will find 10 grams of fiber in just 2 tablespoons of chia seeds – a third of your recommended daily intake!</p>
                    <div class="image-div"><img class="modal-image" src="../images/vinegar.jpg"></div>
                    <p><span><b>Apple Cider Vinegar: </b></span>Apple cider vinegar is chock full of acetic acid, an acid which increases your digestions ability to absorb those all-important vitamins and minerals, particularly, the absorption of calcium. Apple cider vinegar also has the ability to inhibit digestive enzymes that break down carbohydrates into sugar, which prevents our blood sugar from spiking after a meal – the perfect concoction for diabetics and for those who are insulin resistant.</p>
                    <div class="image-div"><img class="modal-image" src="../images/coconutoil.jpg"></div>
                    <p><span><b>Coconut Oil: </b></span>Do you suffer with bloating after meals? Or maybe, you feel as if your body doesn’t digest food that well? Coconut oil contains medium chain fatty acids which have excellent anti-microbial properties which will ease the effect of candida, toxins, bacteria, or parasites that have a bad effect on your digestive system. Coconut oil will also promote the absorption of nutrients from our food, boost our metabolism and energy levels, too. Cooking with coconut oil will help; try replacing your usual cooking oil or butter with coconut oil!</p>
                    <div class="image-div"><img class="modal-image" src="../images/zucchini.jpg"></div>
                    <p><span><b>Zucchini: </b></span>Zucchini is incredibly high in fiber, which means it cleanses the digestive tract and stops toxins from embedding into the colon. And, since zucchini has a high water content, it makes the vegetable super hydrating!</p>
                    <div class="image-div"><img class="modal-image" src="../images/avocado.jpg"></div>
                    <p><span><b>Avocados: </b></span> Avocados are almost as good as blueberries in promoting brainhealth. They contribute to healthy blood flow which promotes a healthy brain. Avocados also lower blood pressure. A lower blood pressure should promote brain health. Avocados are high in calories, however, so add just 1/4 to 1/2 of an avocado to one daily meal as a side dish.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="lungModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Your Lungs</h2>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">Healthy Lungs: </h4>
                    <p class="modal-vitamins">Vitamin A, Vitamin B6, Vitamin C, Vitamin D, Vitamin E, Beta-Carotene</p>
                    <div class="image-div"><img class="modal-image" src="../images/citrus.jpg"></div>
                    <p><span><b>Citrus Fruits: </b></span> Foods that contain high amounts of vitamin C help your lungs effectively transport oxygen throughout the body. Foods that are good sources of vitamin C and popular choices for lung health are: kiwifruit, red and green capsicums (bell peppers), citrus fruits like oranges, lemons, and grapefruits, vegetable and tomato juice, strawberries, broccoli, pineapples, mango and cantaloupe melon.</p>
                    <div class="image-div"><img class="modal-image" src="../images/garlic.jpg"></div>
                    <p><span><b>Garlic: </b></span>Garlic has remained a staple for various natural health practices because of its anti-inflammatory properties. The high level of allicin reduces inflammation and fight infection. It destroys free radicals and may help to improve asthma and prevent lung cancer.</p>
                    <div class="image-div"><img class="modal-image" src="../images/ginger.jpg"></div>
                    <p><span><b>Ginger: </b></span>This spice is incredibly easy to incorporate into your meal for an added flavor and health boost. The anti-inflammatory function clears your lungs of lingering pollution that could lead to health issues. </p>
                    <div class="image-div"><img class="modal-image" src="../images/pomegranate.jpg"></div>
                    <p><span><b>Pomegranate: </b></span>This fruit contains many antioxidants that are good to include into your diet. The nutritionally dense properties of this tasty fruit can slow down the development of lung issues including tumor development.
                    </p><div class="image-div"><img class="modal-image" src="../images/carrots.jpg"></div>
                    <p><span><b>Carrots: </b></span>Carotenoid is an orange antioxidant pigment that have been shown to cut the risks of developing lung cancer. Carotenoids are found in fruits and vegetables characterized with orange or red colors. Carrots are a great option because of the beta-carotene in them. This antioxidant is converted to vitamin A which can help reduce the incident of asthma.</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="liverModal" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Your Liver</h2>
                </div>
                <div class="modal-body">
                    <h4 style="text-decoration: underline; font-weight: bold">Healthy Liver: </h4>
                    <p class="modal-vitamins">Vitamin A, Vitamin E, Vitamin C, Vitamin D</p>
                    <div class="image-div"><img class="modal-image" src="../images/grapefruit.jpg"></div>
                    <p><span><b>Grapefruit: </b></span>High in both vitamin C and antioxidants, grapefruit increases the natural cleansing processes of the liver. A small glass of freshly-squeezed grapefruit juice will help boost production of the liver detoxification enzymes that help flush out carcinogens and other toxins.</p>
                    <div class="image-div"><img class="modal-image" src="../images/greentea.jpg"></div>
                    <p><span><b>Green Tea: </b></span>This liver-loving beverage is full of plant antioxidants known as catechins, a compound known to assist liver function. Green tea is not only delicious, it’s also a great way to improve your overall diet. Learn more about the benefits of green tea.</p>
                    <div class="image-div"><img class="modal-image" src="../images/veggies.jpg"></div>
                    <p><span><b>Leafy Greens: </b></span>One of our most powerful allies in cleansing the liver, leafy greens can be eaten raw, cooked, or juiced. Extremely high in plant chlorophylls, greens suck up environmental toxins from the blood stream. With their distinct ability to neutralize heavy metals, chemicals and pesticides, these cleansing foods offer a powerful protective mechanism for the liver.</p>
                    <div class="image-div"><img class="modal-image" src="../images/apple.jpg"></div>
                    <p><span><b>Apples: </b></span>High in pectin, apples hold the chemical constituents necessary for the body to cleanse and release toxins from the digestive tract. This, in turn, makes it easier for the liver to handle the toxic load during the cleansing process.
                    </p><div class="image-div"><img class="modal-image" src="../images/oliveoil.jpg"></div>
                    <p><span><b>Olive oil: </b></span>Cold-pressed organic oils such as olive, hemp and flax-seed are great for the liver, when used in moderation. They help the body by providing a lipid base that can suck up harmful toxins in the body. In this way, it takes some of the burden off the liver in terms of the toxic overload many of us suffer from.</p>
                    </p><div class="image-div"><img class="modal-image" src="../images/walnuts.jpg"></div>
                    <p><span><b>Walnuts: </b></span>Holding high amounts of the amino acid arginine, walnuts aid the liver in detoxifying ammonia. Walnuts are also high in glutathione and omega-3 fatty acids, which support normal liver cleansing actions. Make sure you chew the nuts well (until they are liquefied) before swallowing.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div  class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <img id="img_logo" src="../images/logowhite.jpg">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
                
                <!-- Begin # DIV Form -->
                <div id="div-forms">
                
                    <!-- Begin # Login Form -->
                    <form id="login-form" ng-controller="loginController">
                        <div class="modal-body">
                            <div id="div-login-msg">
                                <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-login-msg">Type your email and password.</span>
                            </div>
                            <input id="login_username" class="form-control" type="text" placeholder="Email" ng-model='user.email' required>
                            <input id="login_password" class="form-control" type="password" placeholder="Password" ng-model='user.password' required>
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" ng-click='login()' class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                            <div>
                                <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                            </div>
                        </div>
                    </form>
                    <!-- End # Login Form -->
                    <!-- End | Lost Password Form -->
                    
                    <!-- Begin | Register Form -->
                    <form id="register-form" style="display:none;" ng-controller="registerController">
                        <div class="modal-body">
                            <div id="div-register-msg">
                                <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                                <span id="text-register-msg">Register an account.</span>
                            </div>
                            <input id="register_name" class="form-control" type="text" placeholder="Name" ng-model='reg.name' required>
                            <input id="register_password" class="form-control" type="password" placeholder="Password" ng-model='reg.password' required>
                            <input id="register_password" class="form-control" type="password" placeholder="Confirm Password" ng-model='reg.passwordconfirm' required>
                            <input  class="form-control" type="text" placeholder="E-Mail" required ng-model='reg.email'>
                            <input  class="form-control" type="number" ng-model='reg.age' placeholder="Age" required>
                            <input  class="form-control" type="number" ng-model='reg.weight' placeholder="Weight" required>
                            
                        </div>
                        <div class="modal-footer">
                            <div>
                                <button type="submit" ng-click='register()' class="btn btn-primary btn-lg btn-block">Register</button>
                            </div>
                            <div>
                                <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            </div>
                        </div>
                    </form>
                    <!-- End | Register Form -->
                    
                </div>
                <!-- End # DIV Form -->
                
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function() {
    
    var $formLogin = $('#login-form');
    var $formRegister = $('#register-form');
    var $divForms = $('#div-forms');
    var $modalAnimateTime = 300;
    var $msgAnimateTime = 150;
    var $msgShowTime = 2000;

    $("form").submit(function () {
        switch(this.id) {
            case "login-form":
                var $lg_username=$('#login_username').val();
                var $lg_password=$('#login_password').val();
                if ($lg_username == "ERROR") {
                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "error", "glyphicon-remove", "Login error");
                } else {
                    msgChange($('#div-login-msg'), $('#icon-login-msg'), $('#text-login-msg'), "success", "glyphicon-ok", "Login OK");
                }
                return false;
                break;
            case "register-form":
                var $rg_username=$('#register_username').val();
                var $rg_email=$('#register_email').val();
                var $rg_password=$('#register_password').val();
                if ($rg_username == "ERROR") {
                    msgChange($('#div-register-msg'), $('#icon-register-msg'), $('#text-register-msg'), "error", "glyphicon-remove", "Register error");
                } else {
                    msgChange($('#div-register-msg'), $('#icon-register-msg'), $('#text-register-msg'), "success", "glyphicon-ok", "Register OK");
                }
                return false;
                break;
            default:
                return false;
        }
        return false;
    });
    
    $('#login_register_btn').click( function () { modalAnimate($formLogin, $formRegister) });
    $('#register_login_btn').click( function () { modalAnimate($formRegister, $formLogin); });
    $('#login_lost_btn').click( function () { modalAnimate($formLogin, $formLost); });
    $('#register_lost_btn').click( function () { modalAnimate($formRegister, $formLost); });
    
    function modalAnimate ($oldForm, $newForm) {
        var $oldH = $oldForm.height();
        var $newH = $newForm.height();
        $divForms.css("height",$oldH);
        $oldForm.fadeToggle($modalAnimateTime, function(){
            $divForms.animate({height: $newH}, $modalAnimateTime, function(){
                $newForm.fadeToggle($modalAnimateTime);
            });
        });
    }
    
    function msgFade ($msgId, $msgText) {
        $msgId.fadeOut($msgAnimateTime, function() {
            $(this).text($msgText).fadeIn($msgAnimateTime);
        });
    }
    
    function msgChange($divTag, $iconTag, $textTag, $divClass, $iconClass, $msgText) {
        var $msgOld = $divTag.text();
        msgFade($textTag, $msgText);
        $divTag.addClass($divClass);
        $iconTag.removeClass("glyphicon-chevron-right");
        $iconTag.addClass($iconClass + " " + $divClass);
        setTimeout(function() {
            msgFade($textTag, $msgOld);
            $divTag.removeClass($divClass);
            $iconTag.addClass("glyphicon-chevron-right");
            $iconTag.removeClass($iconClass + " " + $divClass);
        }, $msgShowTime);
    }
});</script>
</div>


