<div ng-controller='userDashboardController'>
  <a href="/globaldashboard">Global</a>
  <a href="/logout">Logout</a>

  <h1>Welcome, !</h1>

  <a href="/goal">Add a Plan!</a>

  <h1>Plans</h1>

  <table>
    <thead>
      <tr>
        <td>Title</td>
        <td>Description</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Filler Text 1 - Title!</td>
        <td>Filler Text 1 - Description!</td>
        <td><input type=checkbox> Share </td>
        <td><a href="/edit">Edit</a></td>
        <td><a href="/remove">Remove</a></td>
      </tr>
    </tbody>
  </table>



</div>
